* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
#navbar {
    display: Flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;

    height: 70px;
}

#navbar ul {
    list-style-type: none;
    display: flex;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0.75rem;
    border: 1px solid rgb(68, 59, 59);
    border-radius: 8px;
}

#navbar ul li a:hover {
    opacity: 0.7;
    border: 1px solid white;
}

.background-img {
    background-image: url("/image/arkaplan.jpg");
    background-repeat: no-repeat;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;

    /* ekranı küçültüğümüzde resimde bizimle küçülür */
    background-position: center;
}
#home .background-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .background-img .discover h2 {
    text-align: center;
}
#home .background-img .discover h2 a {
    padding: 1rem;
    border: 1px solid rgb(68, 59, 59);
    border-radius: 8px;
    background: black;
    opacity: 0.6;
}
#home .background-img .discover h2 a:hover {
    opacity: 0.8;
    border: 1px solid white;
}
#home .background-img .discover p {
    padding: 1rem;
    margin-top: 1rem;
    opacity: 0.9;
    font-style: italic;
}
.icerik-ortak {
    margin: 1.5rem;
}
.icerik img {
    border-radius: 400px;
    border: white solid 1px;
}
.icerik img:hover{
    opacity: 0.8;
}
.icerik {
    padding:2rem 0;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}
#content .icerik .icerik-ortak a img {
    display: flex;
    margin: 1rem;

}
#content .icerik .icerik-ortak {
    text-align: center;
}
#content .icerik .icerik-ortak a h1 {
    background-color: rgb(134, 88, 18);
    opacity: 0.7;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    border-top: 2px solid white;
    padding: 0.3rem 0;
}

#content .icerik .icerik-ortak a h1:hover {
    opacity: 1;
    border-bottom: 2px solid darkgray;
    border-top: 0;
}
#foot {
    background: black;
    /* opacity: 0.9; */
    padding: 4rem;
    display: flex;
    justify-content: space-evenly;
    color:white;
    align-items: center;
}
#foot:hover{
    opacity: 0.94;
}
.form-group label {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: bold;
}
.form-group input{
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    width: 400px;
    border-radius: 3px;
    border: 2px solid black;
}
.form-group textarea{
    width: 400px;
    border-radius: 3px;
    border: 2px solid black;
}
.left-side button{
    width: 400px;
    padding: 0.5rem;
    color:black;
    border-radius: 3px;
    border: 2px solid white;
}
.left-side button:hover{
    opacity: 0.9;
    border-bottom: 2px solid aqua;
}
.right-side ul li {
    list-style-type: none;
    padding: 2rem;
}
.right-side ul{
    display: flex;
    font-size: 3rem;
}
.right-side ul li:hover{
    opacity: 0.5;
}
.hak{
    background: black;
    color:white;
    text-align: center;
    font-style: italic;
}
.hak p{
    opacity: 0.5;
    padding: 1rem;
}